<html>

<head>

  <title>Create A Message Page</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>Enter Your Message Here!</h1>

  <form id="create_a_message" action="/create_a_message" method="POST">

    <div class="form-group">
      <label for="exampleInputNickname">Nickname:</label><br>
      <input type="text" name="nickname" class="form-control" id="nickname" aria-describedby="nicknameHelp" placeholder="Enter Your Nickname">
      </div>

      <div class="form-group">
        <label for="exampleInputTitle">Message Title:</label><br>
        <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Give Your Message A Title">
      </div>

        <div class="form-group">
          <label for="comments">Comments</label>
          <textarea type="text" name="yourmessage" class="form-control" id="yourmessage" aria-describedby="yourMessageHelp" maxlength="1000" cols="25" rows="6" placeholder="Type Your Message Here"></textarea>
            </div>

        <div class="form-group">
          <input type="submit" value="Submit">
      </div>

  </form>

</body>

</html>
