<html>

<head>

  <title>Home Page</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>What are you thinking? We want to know!</h1>
  <h1>Share your thoughts with the world on the amazing BULLETIN BOARD APP!</h1>
  <h2>Follow the links on the navigation bar above!</h2>

</body>

</html>
